@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Sistema Contas</title>

        <!-- referência do CSS do bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Sistema Contas</a>
                <button class="navbar-toggler" type="button" data-bs-
                    toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

               <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Contas/Dashboard">Dashboard</a>

                           </li>
                           <li class="nav-item dropdown">
                               <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" 
                                     aria-expanded="false"> Gerenciar Minhas Contas
                               </a>

                                <ul class="dropdown-menu">
                                     <li><a class="dropdown-item" href="/Contas/Cadastro"> Cadastrar Contas</a></li> 
                                     <li><a class="dropdown-item" href="/Contas/Consulta"> Consultar Contas</a></li>

                                </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">

        <strong>Sucesso!</strong> @TempData["MensagemSucesso"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>
    }
    else @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">

        <strong>Erro!</strong> @TempData["MensagemErro"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>
    }
    <div class="container mt-3">
            @RenderBody()
    </div>
    <!-- referência do JS do bootstrap -->
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- seção para inserir conteudo JavaScript -->
    @RenderSection("scripts", required: false)

</body>
</html>